body {
  margin: 20px;
}

button{
  background-color: wdimgrey;
  color:chocolate;
  margin: 0 3px;
}

button:hover{
  background-color: chocolate;
  color: black;
  border: 1px solid black;
}

.todo-list {
  display: flex;
  margin-bottom: 10px;
}

p {
  border-bottom:1px solid;
  width: 250px;

}